/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







html{
    scroll-behavior: smooth;

}

a{
    color: #ffffff;
    text-decoration: none;
}


.top_nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(0, 0, 0);
    margin:auto;
    width: 100%;
    justify-content: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    color:white
}
.top_nav > li{
    margin: 0.2em 0 0.2em 0;
    
    color: rgb(255, 255, 255);
   
    padding: 0 2em 0 2em;
    width: auto;
    border-left: solid 0.05em rgba(245, 245, 245, 0.613);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: linear;

}





.top_nav>li:hover{
    
    text-decoration: underline 0.05em rgba(255, 255, 255, 0.613);
    text-underline-offset: 0.07em;
    transform: translate(10px);

}

